<div class="col-lg-12">
  <div class="card">
    <div class="card-body d-flex justify-content-lg-between align-items-center">
      <% let business_name = data.business_name ? data.business_name.charAt(0).toUpperCase() + data.business_name.slice(1) : '' %>
      <h5 class="card-title m-0"><%= business_name %></h5>
      <% if (currentPage === 'business_info') { %>
      <div class="d-flex gap-2">
        <% if (data.approval_status == 'pending') {%>
        <button class="btn btn-success action-btn btn-sm" data-action="approved" data-id="<%= data.id %>"
          data-url="<%= data.update_action %>"><%=__("Approved") %></button>
        <button class="btn btn-warning action-btn btn-sm" data-action="rejected" data-id="<%= data.id %>"
          data-url="<%= data.update_action %>"><%=__("Rejected") %></button>
        <% } %>
      </div>
      <%} %>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card">
    <div class="px-2 py-3">
      <div class="col-md-12">
        <div class="nav flex-column nav-pills">
          <% 
          const navItems = [
            { key: 'business_info', label: "Business info" },
            { key: 'contact_info', label: "Contact info" },
            { key: 'address', label: "Address" },
            { key: 'employees', label: "Employees" },
            { key: 'password', label: "Password" },
           
          ];

        navItems.forEach(item => {
            const isActive = (currentPage === item.key);
        %>

          <a class="nav-link mb-2 <%= isActive ? 'active' : '' %>"
            href="<%= isActive ? '#' : base_url + (urls[item.key]) %>"><%= item.label %></a>

          <% }) %>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.action-btn').click(function () {
    const action = $(this).data('action');
    const id = $(this).data('id');
    const url = $(this).data('url');
    const confirmText = {
      approved: "<%= __('Are you sure you want to approve this company ?') %>",
      rejected: "<%= __('Are you sure you want to reject this company ?') %>",
    };

    Swal.fire({
      title: `<%= __('Are you sure?') %>`,
      text: confirmText[action] || '',
      icon: "warning",
      input: 'textarea',
      inputLabel: '<%= __("Comment (optional)") %>',
      inputPlaceholder: '<%= __("Write your reason or comment here...") %>',
      inputAttributes: {'aria-label': 'Comment'},
      showCancelButton: true,
      confirmButtonText: `<%= __('Yes, proceed!') %>`,
      cancelButtonText: `<%= __('No, cancel!') %>`,
      customClass: {
        confirmButton: "btn btn-success",
        cancelButton: "btn btn-danger me-2"
      },
      buttonsStyling: false,
      reverseButtons: true
    }).then(({ isConfirmed, value: comment  }) => {
      if (isConfirmed) {
        $.post(`${$baseurl}${url}${id}`, { action, comment }).done(res => {
          if (res.success) {
            Swal.fire({
              icon: 'success',
              title: `<%= __('Success!') %>`,
              text: res.success,
              timer: 1500,
              showConfirmButton: false
            }).then(() => {
              location.reload();
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: `<%= __('Error') %>`,
              text: res.error || `<%= __('Something went wrong.') %>`
            });
          }
        });
      }
    });
  });

</script>