<%- include('../../common/header', title) %>
<div id="loader"></div>
<div class="row">
    <%- include('./businessSidebar')%>
    <div class="col-lg-9">
        <div class="tab-content text-muted mt-4 mt-md-0">
            <div class="card">
                <div class="card-body p-4">
                    <% let updateUrl = updatePer ? base_url + update_password : '' %>
                    <form action="<%= updateUrl %>" id="updatePassword">
                        <div class="row">
                            <!-- password -->
                            <div class="col-md-6 mb-3">
                                <label for="password" class="form-label required_field"><%=__("Password") %><span
                                        class="text-danger"><%=__("*") %></span></label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="<%=__("Password") %>">
                                <span id="passwordError" class="text-danger errorRemove"></span>
                            </div>
                              <!--Confirm password -->
                            <div class="col-md-6 mb-3">
                                <label for="confirmPassword" class="form-label required_field"><%=__("Confirm Password") %><span
                                        class="text-danger"><%=__("*") %></span></label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    placeholder="<%=__("Confirm Password") %>">
                                <span id="confirmPasswordError" class="text-danger errorRemove"></span>
                            </div>
                        </div>
                        <% if(updatePer) { %>
                        <div class="float-end">
                            <button class="btn btn-primary" type="submit"><%=__("Submit") %></button>
                        </div>
                        <% } %>
                    </form>
                </div>
            </div>    
        </div>
    </div>
</div>

<%- include('../../common/footer') %>

<script>
    $(document).ready(function () {
        setTimeout(() => $('#loader').hide(), 300);

        //number validation
        $(".number_validation").on("input", e => e.target.value = e.target.value.replace(/\D/g, ''));
        // error remove when key text and change select
        $('#updatePassword').on('input change', 'input, select', e => $('.errorRemove', e.target.parentElement).empty());
        // form submit
        $('#updatePassword').submit(function (e) {
            e.preventDefault();
            $('#loader').show();
            const pwd = $('#password').val();
            const confirmPwd = $('#confirmPassword').val();
            if(!pwd && !confirmPwd) { $('#passwordError').text(`<%=__("Password is required") %>`), $('#confirmPasswordError').text(`<%=__("Confirm Password is required") %>`), $('#loader').hide(); return; };
            if(!pwd) { $('#passwordError').text(`<%=__("Password is required") %>`), $('#loader').hide(); return; };
            if(!confirmPwd) {$('#confirmPasswordError').text(`<%=__("Confirm Password is required") %>`), $('#loader').hide(); return; };
            if (pwd !== confirmPwd) {
                $('#confirmPasswordError').text(`<%=__("Password and Confirm Password does not match") %>`);
                $('#loader').hide();
                return;
            }
            $.post({ url: $(this).attr('action'), data: $(this).serialize() }).done(res => {
                if (res.errors) {
                    $('#loader').hide();
                    let firstErrorField = null;
                    for (const field in res.errors) {
                        const normalizedField = field.replace(/\[|\]/g, '_');
                        const $input = $(this).find(`[name="${field}"]`);
                        const $error = $(`#${normalizedField}Error`);
                        $error.text(res.errors[field]);
                        if (!firstErrorField && $input.length) {
                            firstErrorField = $input;
                        }
                    }
                    if (firstErrorField) {
                        firstErrorField.focus();
                    }
                } else {
                    showMsg(res.success || res.error, res.success ? "success" : "danger");
                    if (res.success) setTimeout(() => $('#loader').hide(), location.reload(), 1500);
                    if (res.error) setTimeout(() => $('#loader').hide(), 1500);
                }
            });
        });

        // msg show
        function showMsg(msg, type = "danger") {
            const toast = $('.toast-container');
            toast.removeClass('d-none').find('.toast-body').attr('class', `toast-body alert alert-${type}`).text(msg);
            setTimeout(() => toast.addClass('d-none').find('.toast-body').removeClass(`alert alert-${type}`).text(''), 1500);
        }









    })    
</script>