<%- include('../../common/header', title) %>
<div id="loader"></div>
<div class="d-flex justify-content-end mb-4">
    <% if(addPermission) { %>
    <a href="<%= base_url + add_company_view %>" class="btn btn-primary"><%=__("Add-company") %></a>
    <% } %>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="companiesTable" class="table table-bordered dt-responsive  nowrap w-100">
                    <thead>
                        <tr>
                            <th><%=__("Id") %></th>
                            <th><%=__("Name") %></th>
                            <th><%=__("Email") %></th>
                            <th><%=__("Status") %></th>
                            <th><%=__("Action") %></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div>

<%- include('../../common/footer') %>
<script>
    $(document).ready(function () {
        setTimeout(() => $('#loader').hide(), 300);
        $(document).on('click', '.delete_company', function () {
            var id = $(this).data('id'); url = $(this).data('url');
            Swal.fire({
                title: `<%=__("Are you sure ?") %>`,
                text: `<%=__("Are you sure you want to delete this company ?") %>`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: `<%=__("Yes, delete!") %>`, cancelButtonText: `<%=__("No, cancel!") %>`,
                customClass: { confirmButton: "btn btn-success", cancelButton: "btn btn-danger me-2" }, buttonsStyling: false, reverseButtons: true
            }).then(({ isConfirmed }) => {
                if (isConfirmed) $.post(`${$baseurl + url}${id}`).done(res => {
                    res.success && dataTable.draw();
                });
            });
        });

        var dataTable = $('#companiesTable').DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url': '<%= base_url + company_dataTable %>',
            },

            'columns': [
                { data: 'id', orderable: false },
                { data: 'name' },
                { data: 'email' },
                { data: 'status' },
                { data: 'action', orderable: false },
            ],
            'order': [[0, 'DESC']],
            'lengthMenu': [[10, 20, 50, 100, 200]],
            'searching': true,
            'lengthChange': false,
        });


    

        
     
 

 


    });
</script>