<%- include('../../common/header', title) %>
<div id="loader"></div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-4">
                <% let updateUrl = updateUserPer ? base_url + user_update : '' %>
                <form action="<%= updateUrl %>" id="updateUser">
                    <div class="row">
                        <div class="mb-3 col-lg-6">
                            <label for="example-text-input"
                                class="form-label required_field"><%=__("First name") %><span
                                    class="text-danger"><%=__("*") %></span></label>
                            <input class="form-control" type="text" id="fname" name="fname"
                                placeholder="<%=__("First name") %>" value="<%= user.firstname %>">
                            <span id="fnameError" class="text-danger errorRemove"></span>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="example-text-input" class="form-label"><%=__("Last name") %></label>
                            <input class="form-control" type="text" id="lname" name="lname"
                                placeholder="<%=__("Last name") %>" value="<%= user.lastname || '' %>">
                            <span id="lnameError" class="text-danger errorRemove"></span>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="example-email-input" class="form-label required_field"><%=__("Email") %><span
                                    class="text-danger"><%=__("*") %></span></label>
                            <input class="form-control" type="text" id="email" name="email"
                                placeholder="<%=__("Email") %>" value="<%= user.email %>">
                            <span id="emailError" class="text-danger errorRemove"></span>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="example-url-input"
                                class="form-label required_field"><%=__("Phone number") %></label>
                            <input type="text" class="form-control number_validation" id="phoneNumber"
                                name="phoneNumber" placeholder="<%=__("Phone number") %>"
                                value="<%= user.phoneNumber || '' %>">
                            <span id="phoneNumberError" class="text-danger errorRemove"></span>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="example-tel-input" class="form-label"><%=__("Password") %></label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="<%=__("Password") %>">
                            <span id="passwordError" class="text-danger errorRemove"></span>
                        </div>

                        <div class="mb-3 col-lg-6">
                            <label for="choices-single-default"
                                class="form-label required_field"><%=__("Country") %></label>
                            <select data-trigger name="user[country]" id="choices-single-default"
                                class="form-select country">
                                <option value><%=__("Select country") %></option>
                                <% country.forEach( item => { %>
                                <option value="<%= item.id %>"><%= item.name %></option>
                                <% }) %>
                            </select>
                            <span id="user.countryError" class="text-danger errorRemove"></span>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label class="form-label required_field"><%=__("State") %></label>
                            <select class="form-select state" id="state" name="user[state]" data-placeholder="<%=__("Select state") %>">
                                <option value><%=__("Select state") %></option>
                            </select>
                            <span id="user.stateError" class="text-danger errorRemove"></span>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label class="form-label required_field"><%=__("City") %></label>
                            <select class="form-select city" id="city" name="user[city]" data-placeholder="<%=__("Select city") %>">
                                <option value><%=__("Select city") %></option>

                            </select>
                            <span id="user.cityError" class="text-danger errorRemove"></span>
                        </div>

                        <div class="mb-3 col-lg-6">
                            <label for="example-url-input" class="form-label required_field"><%=__("Address") %></label>
                            <input type="text" class="form-control" id="address" name="user[address]"
                                placeholder="<%=__("Address") %>"
                                value="<%= metaData.find( item => item.meta_key == 'address')?.meta_value || '' %>">
                            <span id="user.addressError" class="text-danger errorRemove"></span>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="example-url-input"
                                class="form-label required_field"><%=__("Postal code") %></label>
                            <input type="text" class="form-control number_validation" id="postal_code"
                                name="user[postal_code]" placeholder="<%=__("Postal code") %>"
                                value="<%= metaData.find( item => item.meta_key == 'postal_code')?.meta_value || '' %>">
                            <span id="user.postal_codeError" class="text-danger errorRemove"></span>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label class="form-label required_field"><%= __("Role") %></label>
                            <select class="form-select" id="userRole" name="role">
                                <% role.forEach(item => { %>
                                <% let isSelected = user.role == item.id ? 'selected' : '' %>
                                <% if(user.id !== session.userId || user.role == item.id) { %>
                                <option value="<%= item.id %>" <%= isSelected %>><%= item.role_name %></option>
                                <% } %>
                                <% }) %>
                            </select>
                            <span id="roleError" class="text-danger errorRemove"></span>
                        </div>
                        <% if(user.id != session.userId) { %>
                        <div class="mb-3 col-lg-6">
                            <label class="form-label required_field"><%=__("Status") %></label>
                            <select class="form-select" id="userStatus" name="status">
                                <option value="1" <%= user.status == 1 ? 'selected' : '' %>><%=__("Enable") %></option>
                                <option value="0" <%= user.status == 0 ? 'selected' : '' %>><%=__("Disable") %></option>
                            </select>
                            <span id="statusError" class="text-danger errorRemove"></span>
                        </div>
                        <% } %>
                    </div>
                    <div class="col-lg-12">
                        <p class="fw-bold font-size-16 "><%=__("Current User Identity Verification") %></p>
                        <hr>
                        <div class="mb-3 col-lg-6">
                            <label for="example-email-input"
                                class="form-label required_field"><%=__("Your Password") %><span
                                    class="text-danger"><%=__("*") %></span></label>
                            <input class="form-control" type="password" id="verifyPass" name="verifyPass"
                                placeholder="<%=__("Your Password") %>">
                            <span id="verifyPassError" class="text-danger errorRemove"></span>
                        </div>
                    </div>
                    <% if(updateUserPer) {%>
                    <button class="btn btn-primary float-end" type="submit"><%=__("Submit") %></button>
                    <% } %>
                </form>
            </div>

        </div>
    </div>
</div>

<%- include('../../common/footer') %>
<script>
    $(document).ready(function () {
        setTimeout(() => $('#loader').hide(), 300);
        $('.country, #state, .city, .multiSelect').select2({ placeholder: function() { return $(this).data('placeholder'); }, sorter: s => s.sort((a, b) => a.text.localeCompare(b.text)) });
         $(document).on('select2:open', () => {
            setTimeout(() => {
                document.querySelector('.select2-container--open .select2-search__field')?.focus();
            }, 0);
        })

        //number validation
        $(".number_validation").on("input", e => e.target.value = e.target.value.replace(/\D/g, ''));

        // get state
        $(document).on('change', '.country', function () {
            $.post(`<%= base_url + get_state %>`, { country: $(this).val() }).done(res =>
                $('#state').html(res.state?.map(({ id, name, country }) => `<option value="${id}" data-country="${country}">${name}</option>`).join('') || '')
                    .val(`<%= metaData.find(item => item.meta_key == 'state')?.meta_value || '' %>`).trigger('change'));
        });
        $('.country').val(`<%= metaData.find(item => item.meta_key == 'country')?.meta_value || '' %>`).trigger('change');
        // get city
        $(document).on('change', '.state', function () {
            $.post(`<%= base_url + get_city %>`, { state: $(this).val() }).done(res =>
                $('#city').html(res.city?.map(({ id, name }) => `<option value="${id}">${name}</option>`).join('') || '')
                    .val(`<%= metaData.find(item => item.meta_key == 'city')?.meta_value || '' %>`).trigger('change'));
        });
        $('.state').val(`<%= metaData.find(item => item.meta_key == 'state')?.meta_value || '' %>`).trigger('change');

        // error remove when key text and change select
        $('#updateUser').on('input change', 'input, select', e => $('.errorRemove', e.target.parentElement).empty());

        // form submit
        $('#updateUser').submit(function (e) {
            e.preventDefault();
            $('#loader').show();
            let phoneNumber = $('#phoneNumber').val().trim();
            const phoneRegex = /^[6-9]\d{9}$/;

            if (phoneNumber && !phoneRegex.test(phoneNumber)) {
                $('#loader').hide();
                $('html, body').animate({ scrollTop: 0 }, 'fast');
                $('#phoneNumberError').text('<%=__("Please enter 10 digit phone number example: 9876543210")%>');
                return;
            }
            $('#phoneNumberError').text('');
            $.post($(this).attr('action'), $(this).serialize()).done(res => {
                if (res.errors) {
                    $('#loader').hide();
                    $('html, body').animate({ scrollTop: 0 }, 'fast');
                    Object.keys(res.errors).forEach(field => $(`#${field}Error`).text(res.errors[field]));
                } else {
                    showMsg(res.success || res.error, res.success ? "success" : "danger");
                    if (res.success) setTimeout(() => $('#loader').hide(), $('#updateUser')[0].reset(), window.location.href = `<%= base_url + user_list %>`, 1500);
                }
            });
        });

        // msg show
        function showMsg(msg, type = "danger") {
            const toast = $('.toast-container');
            toast.removeClass('d-none').find('.toast-body').attr('class', `toast-body alert alert-${type}`).text(msg);
            setTimeout(() => toast.addClass('d-none').find('.toast-body').removeClass(`alert alert-${type}`).text(''), $('#loader').hide(), 1500);
        }

    })    
</script>