<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
   <link rel="shortcut icon" href="<%= base_url %>assets/images/logo.jpg">

    <!-- Bootstrap Css -->
    <link href="<%= base_url %>assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="<%= base_url %>assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="<%= base_url %>assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


</head>

<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary-subtle">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary"><%=__("Welcome Back !") %></h5>
                                        <p><%=__("Sign in to continue to ItechPanel.") %></p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="<%= base_url %>assets/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <a href="#">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="<%= base_url %>assets/images/logo.jpg" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2 mt-3">
                                <div id="msg"></div>
                                <form class="forgotPassword" id="forgotPassword">
                                    <div class="mb-3">
                                        <label for="useremail" class="form-label"><%=__("Email") %></label>
                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="<%=__("Enter Email") %>">
                                    </div>
                                    <div class="text-end">
                                        <button class="btn btn-primary w-md waves-effect waves-light"
                                            type="submit"><%=__("Reset") %></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JAVASCRIPT -->
    <script src="<%= base_url %>assets/js/jquery.min.js"></script>
    <script src="<%= base_url %>assets/js/bootstrap.bundle.min.js"></script>
    <script src="<%= base_url %>assets/js/metisMenu.min.js"></script>
    <script src="<%= base_url %>assets/js/simplebar.min.js"></script>
    <script src="<%= base_url %>assets/js/waves.min.js"></script>
    <script src="<%= base_url %>assets/js/app.js"></script>
</body>

</html>
<script>
    $(document).ready(function () {
        $('#forgotPassword').submit(function (e) {
            e.preventDefault();
            const eVal = $('#email').val();
            const emailOk = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(eVal);
            if (!eVal) return show(`<%=__("Email address is required") %>`);
            if (!emailOk) return show(`<%=__("Please enter a valid email address") %>`);
            $.post(`<%= base_url + forgotPassword %>`, $(this).serialize()).done(res => {
                const type = res.success ? 'success' : 'danger';
                show(res.success || res.error, type);
            })
        });
        const show = (msg, type = 'danger') => {
            $('#msg').attr('class', `alert alert-${type}`).text(msg);
            setTimeout(() => $('#msg').removeClass().text(''), 1500);
        };

    });    
</script>