  <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                           

                            <li>
                                <a href="javascript: void(0);" >
                                    <i class="bx bx-home-circle"></i>
                                    <span key="t-dashboards"><%=__("Dashboard") %></span>
                                </a>
                             
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-home-circle"></i>
                                    <span key="t-dashboards"><%=__("System") %></span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="<%= base_url %>role/list" key="t-default"><%=__("Role") %></a></li>
                                    <li><a href="<%= base_url %>user/list" key="t-saas"><%=__("User") %></a></li>
                                   
                                </ul>
                            </li>
                  
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->