<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="<%= base_url %>assets/images/logo.jpg">

    <!-- Bootstrap Css -->
    <link href="<%= base_url %>assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="<%= base_url %>assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="<%= base_url %>assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


</head>

<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary-subtle">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Welcome Back !</h5>
                                        <p>Sign in to continue to ItechPanel.</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="<%= base_url %>assets/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                             <div>
                                    <a href="#">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="<%= base_url %>assets/images/logo.jpg" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                         

                            <div class="p-2 mt-3">
                                <div id="msg"></div>
                                <form class="resetPassFrom">
                                     <div class="mb-3">
                                        <label class="form-label"><%=__("Password") %></label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" id="password" name="password"
                                                placeholder="<%=__("Enter Password") %>" aria-label="Password"
                                                aria-describedby="password-addon">
                                            <button class="btn btn-light " type="button" id="password-addon"><i
                                                    class="mdi mdi-eye-outline"></i></button>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label"><%=__("Confirm Password") %></label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" id="cfmPassword" name="confirmPassword"
                                                placeholder="<%=__("Enter Confirm Password") %>" aria-label="Password"
                                                aria-describedby="password-addon">
                                            <button class="btn btn-light " type="button" id="password-addon"><i
                                                    class="mdi mdi-eye-outline"></i></button>
                                        </div>
                                    </div>
                                    <div class="mt-4 d-grid">
                                        <button class="btn btn-primary waves-effect waves-light"
                                            type="submit"><%=__("Update") %></button>
                                    </div>
                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JAVASCRIPT -->
    <script src="<%= base_url %>assets/js/jquery.min.js"></script>
    <script src="<%= base_url %>assets/js/bootstrap.bundle.min.js"></script>
    <script src="<%= base_url %>assets/js/metisMenu.min.js"></script>
    <script src="<%= base_url %>assets/js/simplebar.min.js"></script>
    <script src="<%= base_url %>assets/js/waves.min.js"></script>
    <script src="<%= base_url %>assets/js/app.js"></script>
</body>

</html>

<script>
    $(document).ready(function () {
        $(".resetPassFrom").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            let password = $("#password").val();
            let cfmpassword = $("#cfmPassword").val();
            if (!password || !cfmpassword) {
                showMsg("<%= __('Both password and confirm password fields are required.') %>");
                return;
            }
            // Check if password and confirm password match
            if (password !== cfmpassword) {
                showMsg("<%= __('Passwords do not match. Please ensure both fields are identical.') %>");
                return;
            }
            $.post("<%= base_url + reset_password %>", {  token: `<%= token %>`, password, cfmpassword }).done(res => {
                const type = res.success ? "success" : "danger";
                showMsg(res.success || res.error, type);
                if (res.success) setTimeout(() => window.location.href = "<%= base_url + login_view %>", 1500);
            });
        });

        function showMsg(msg, type = "danger") {
            $("#msg").addClass(`alert alert-${type}`).text(msg);
            setTimeout(() => $("#msg").removeClass(`alert alert-${type}`).text(""), 1500);
        }
    });
</script>